#topbar-wrapper {
    border-radius: 0px 0px 10px 10px;
}

#avatar {
    width: 12.5rem !important;
    height: 8.5rem !important;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sidebar-bg-img {
    background-image: url("/assets/img/dragon-trasparent.png") !important;
    background-position-y: 460px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.image-center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tail-wrapper>:not(script) {
    margin-top: 0rem !important;
}

.post-tail-wrapper {
    margin-top: 6rem;
    border-bottom: 0px !important;
}

footer {
    border-radius: 10px 10px 0px 0px;
}